body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f4f4f426; /* Fondo claro para toda la página */
}

.navbar {
    background-color:#081a7f; /* Azul oscuro */
    padding: 15px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}

.logo1 {
    color: white;
    text-transform: uppercase;
    font-size: 24px;
    width: 90px;
    position: absolute;
    left: 60px;
    top: 15px;
}

.logo2 {
    color: rgb(0, 225, 255);
    text-transform: uppercase;
    font-size: 24px;
    width: 80px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #66a3ff; /* Azul claro para el hover */
}

.hero {
    background-image:url(../img/fondo1.jpg); /* Imagen de fondo */
    color: white;
    text-align: center;
    padding: 210px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 160px;
    
}

.hero-content .titulo {
    font-size: 36px;
    margin-bottom: 20px;
    background-color: #00137d4e; /* Azul oscuro */
    width: 50%;
    border-radius: 20px;
    margin:0 auto;
}



.button {
    background-color: #00137d;/* Azul oscuro */
    color: white;
    padding: 25px 40px;
    border: none;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    transition: background-color 0.3s;
    position: absolute;
    top: 490px;
    right: 43%;
    
    
}

.about {
    text-align: center;
    padding: 60px 0;
    height: 380px;
    width: 100%;
    background-color: #00137d; 
    display: flex; 
    justify-content: space-around;
    
}

.innovacion, .Impulsar, .Unico {
    width: 150px; /* Ancho de los divs */
    height: 150px; /* Alto de los divs */
    
    border: #ffffff solid 50px;
    border-radius: 50%; /* Hace que sean redondos */
    display: flex; /* Para centrar el contenido dentro */

    box-shadow: 0 2px 10px rgb(0, 0, 0); /* Sombra sutil */
    margin: 10px; /* Espacio entre los divs */
}

.innovacion { 
    position : absolute; 
    top: 760px;
    left: 270px;
    background-image: url(../img/creatividad.png); 
    background-size: 150px;   
    background-repeat: no-repeat;

}

.botonIn {
    background-color:#ffffff;/* Azul oscuro */
    color:   #00137d;
    padding: 25px 40px;
    border: none;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    transition: background-color 0.3s;
    position: absolute;
    top: 1050px;
    left: 19%;
    width: 150px;
    text-align: center;
    
}


.Impulsar { 
    position : absolute; /*olute; /* Posición absoluta */
    top: 760px;
    left: 620px;
    background-image: url(../img/cohete.png); 
    background-size: 140px;
    background-repeat: no-repeat;

}

.botonIm {
    background-color:#ffffff;/* Azul oscuro */
    color:   #00137d;
    padding: 25px 40px;
    border: none;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    transition: background-color 0.3s;
    position: absolute;
    top: 1050px;
    left: 42%;
    width: 150px;
    text-align: center;
    
}

.Unico {  
    position : absolute; /*olute; /* Posición absoluta */
    top: 760px;
    right: 270px;
    background-image: url(../img/unico.png); 
    background-size: cover;
    background-repeat: no-repeat;

}

.botonU {
    background-color:#ffffff;/* Azul oscuro */
    color:   #00137d;
    padding: 25px 40px;
    border: none;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    transition: background-color 0.3s;
    position: absolute;
    top: 1050px;
    right: 18.6%;
    width: 150px;
    text-align: center;
    
}

h2 {
    color: #0866c5; /* Azul oscuro para los títulos */
    font-size: 24px;
}

h1 {
    color: #0866c5; /* Azul oscuro para los títulos */
    font-size: 54px;
}

.cosito {

    color: white;
    position: absolute;
    left: 43%;
    top: 690px;
}

.about-content {
    max-width: 600px;
    margin: auto;
    color: white;
}

.cosote {
    color: #00137d;
    position: absolute;
    left: 33%;
    top: 1170px;
    background-color: #caf9fd;
    
}

#services {
    background-color:  #caf9fd; /* Fondo claro */
    height: 550px;
    
}

.Desarrollo {
    background-image: url(../img/desarrollo.webp); /* Imagen de fondo */
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    width: 300px;
    position: absolute;
    top: 1320px;
    left: 10%;
}

.desarroloT {
    color: #ffffff;
    position: absolute;
    left: 10%;
    top: 1455px;
    background-color: #00137d;
    height: 60px;
    width: 300px;
    text-align: center;
    align-content: center;
    border-radius: 5px 5px 5px 5px;

    
}

.Consultoria {
    background-image: url(../img/asesoria.png); /* Imagen de fondo */
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    width: 300px;
    position: absolute;
    top: 1320px;
    left: 40%;
}

.consultoriaT {
    color: #ffffff;
    position: absolute;
    left: 40%;
    top: 1455px;
    background-color: #00137d;
    height: 60px;
    width: 300px;
    text-align: center;
    align-content: center;
    border-radius: 5px 5px 5px 5px;

    
}

.Soporte {
    background-image: url(../img/soporte.jpg); /* Imagen de fondo */
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    width: 300px;
    position: absolute;
    top: 1320px;
    left: 70%;
} 

.soporteT {
    color: #ffffff;
    position: absolute;
    left: 70%;
    top: 1455px;
    background-color: #00137d;
    height: 60px;
    width: 300px;
    text-align: center;
    align-content: center;
    border-radius: 5px 5px 5px 5px;


}


.bolita1 {
    background-color: #00137d; /* Azul oscuro */
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    top: 1590px;
    left: 11%;
}

.bolita2 {
    background-color: #00eaff; /* Azul oscuro */
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    top: 1590px;
    left: 16.7%;
}

.bolita3 {
    background-color: #001eff; /* Azul oscuro */
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    top: 1590px;
    left: 22.4%;
}

footer {
    background-color:  #00137d; /* Azul oscuro */
    color: white;
    text-align: center;
    padding: 20px 0;
}

