body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #333;
    background-color:  #00137d; 
}

.navbar {
    background-color:  #ffffff; 
    padding: 15px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}

.logo1 {
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-size: 24px;
    width: 90px;
    position: absolute;
    left: 60px;
    top: 15px;
}

.logo2 {
    color: rgb(0, 213, 255);
    text-transform: uppercase;
    font-size: 24px;
    width: 80px;
} 

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color:  #00137d;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #569aff; 
}

.hero {
    height: 200px;
}

.hero-content {
    max-width: 400px;
    margin: auto;
}

.quienes {
    color: rgb(86, 202, 255);
    text-align: center;
    padding: 50px 0;
    width: 80%;
    position: absolute;
    top: 150px;
    font-weight: 1800;
    position: absolute;
    left: 0px;
}

.innovaware {
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 70px 0;
    width: 40%;
    position: absolute;
    top: 200px;
    font-weight: 800;
    position: absolute;
    left: 470px;
    text-align: left;
}

.texto { 
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 70px 0;
    width: 40%;
    position: absolute;
    top: 400px;
    font-weight: 800;
    position: absolute;
    left: 470px;
    text-align: left;
    font-weight: 400;
}

.texto2 { 
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 70px 0;
    width: 40%;
    position: absolute;
    top: 520px;
    font-weight: 800;
    position: absolute;
    left: 470px;
    text-align: left;
    font-weight: 400;
}

.texto3 { 
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 70px 0;
    width: 40%;
    position: absolute;
    top: 640px;
    font-weight: 800;
    position: absolute;
    left: 470px;
    text-align: left;
    font-weight: 400;
}

.pelota1, .pelota2, .pelota3, .pelota4, .pelota5, .pelota6{
    width: 100px; /* Ancho de los divs */
    height: 100px; /* Alto de los divs */
    border-radius: 50%; /* Hace que sean redondos */
    display: flex; /* Para centrar el contenido dentro */
    justify-content: center; /* Centrar horizontalmente */
    margin: 10px; /* Espacio entre los divs */
}

.pelota1 {
    position: absolute;
    top: 190px;
    left: 200px;
    background-color: #97f6ff;
    
}

.pelota2 {
    position: absolute;
    top: 325px;
    left: 200px;
    background-color: #0095ff;
}

.pelota3 {
    position: absolute;
    top: 460px;
    left: 200px;
    background-color:  #002aff;
}

.pelota4 {
    position: absolute;
    top: 490px;
    right: 200px;
    background-color:  #002aff;
}

.pelota5 {
    position: absolute;
    top: 625px;
    right: 200px;
    background-color: #0095ff;
}

.pelota6 {
    position: absolute;
    top: 760px;
    right: 200px;
    background-color: #97f6ff;
}

footer {
    background-color: #ffffff; /* Azul oscuro */
    color: #00137d;
    text-align: center;
    padding: 20px 0;
    position: absolute;
    top: 130%;
    width: 100%;
}
